#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-li {
    display: inline-block;
    padding: 0 5px;
}
nav {
    background: rgb(66, 66, 66);
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    background-image: url(images/Istanbul.png);
    background-size: cover;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}
#mainclicker {
    text-align: center;x 
}